---
title: Flatby 2
---

	<div class="cover" style="display: none;">
		&nbsp;
	</div>

	<div class="modal" style="display: none;">
		<h1>Modal Window</h1>
	</div>

	<%= partial "./partials/side-scroller" %>

	<%= partial "./partials/navigation" %>

	<%= partial "./partials/blurbs" %>

	<section class="features">
		<div class="columns">
			<div class="columns-3">
				<span class="icon">
					<span class="icon-link"></span>
				</span>
				<h1>Here's a feature</h1>
				<p>Prevailed sincerity behaviour to so do principle mr. As departure at no propriety zealously.</p>
			</div>

			<div class="columns-3">
				<span class="icon">
					<span class="icon-signal"></span>
				</span>
				<h1>And another one</h1>
				<p> Mile fail as left as hard eyes. Meet made call in mean four year it to. Prospect so branched wondered sensible of up.</p>
			</div>


			<div class="columns-3">
				<span class="icon">
					<span class="icon-disc"></span>
				</span>
				<h1>The last feature</h1>
				<p>Domestic confined any but son bachelor advanced remember. How proceed offered her offence shy forming. Returned peculiar pleasant but appetite differed she.</p>
			</div>
		</div>
	</section>

	<%= partial "./partials/text-content" %>

	<%= partial "./partials/comments" %>

	<%= partial "./partials/buttons" %>

	<section>
		<img src="./images/photo-main.png" alt="The main blurb photo" class="image-fluid">

		<article class="padded-content">
			<h1 class="featured-header">Something something, paragraphs</h1>

			<h2>Something something, paragraph</h2>
			<p>Hey kid, what you do, jump ship? They're late. My experiment worked. They're all exactly twenty-five minutes slow. Hey, don't I know you from somewhere? Nothing. Just relax now Calvin, you've got a big bruise on you're head. Just relax now Calvin, you've got a big bruise on your head. Hey kid, what you do, jump ship?</p>
		</article>

	</section>
